# Ambiente virtual e cache
venv/
__pycache__/
*.pyc

# Arquivos grandes de treino (não usados no deploy)
models/X_train.pkl
models/X_test.pkl
models/y_train.pkl
models/y_test.pkl
models/melhor_modelo_sbert.pkl
models/melhor_vectorizer.pkl
models/sbert_encoder.pkl
models/transformer.pkl
models/best_model.pkl
models/best_model_info.txt

# Arquivos de testes e temporários
*.ipynb
*.parquet
*.json
*.log
test_*.py


